.chats-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .chats-list {
        padding: 15px 0px;

        .chat-item {
            display: flex;
            color: var(--text-color);
            padding: 15px;
            border-bottom: 1px solid rgba(50, 41, 77, 0.2);

            img {
                width: 55px;
                height: 55px;
                border-radius: 10px;
            }

            .chat-details {
                margin-left: 15px;
                overflow: hidden;
                flex: 1;

                p:first-child {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;
                    margin-bottom: 3px;

                    span {
                        font-weight: normal;
                        font-size: var(--small-text);
                    }
                }

                p:last-child {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.isDefault {
                        font-style: italic;
                    }
                }
            }
        }
    }

    .tab,
    .loading-container {
        flex: 1 1 auto;
        position: relative;
    }

    .action-button-container {
        bottom: 30px;
        position: absolute;
        padding: 0px 2em;

        width: 100%;

        .btn {
            width: 100%;
        }
    }

    .bottom-nav {
        flex: 0 1 40px;
        padding: 1em 0px;
        width: 100%;

        display: flex;
        border: 1px solid #c4c4c4;
        border-radius: 10px 10px 0px 0px;

        .nav-content {
            flex: 1;
            text-align: center;
            text-transform: uppercase;
            color: var(--primary-color);
            font-weight: 600;

            &.active::after {
                content: "";
                display: block;
                margin: auto;
                width: 10px;
                height: 10px;
                background-color: #daccff;
                border-radius: 50%;
            }
        }
    }
}
