.find-friends-page {
    padding: 2em 0px;

    .page-header {
        h1 {
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    & > .btn {
        margin-top: 5em;
        width: 100%;
    }
}
