@import "styles/utils/mixins.scss";

.public-footer {
    font-size: 14px;
    padding: 2em;
    margin: 0 18%;
    margin-top: 3em;

    @include for-phone-only {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }

    a {
        color: var(--primary-color);
        margin-right: 5em;

        @include for-phone-only {
            margin-right: 0;
        }
    }
}
