.find-friend-page {
    padding: 2.5em 25px;

    .page-header {
        text-align: center;

        h2 {
            font-weight: normal;
            margin-bottom: 20px;
        }

        span {
            color: hsl(0, 0%, 30%);
        }
    }

    .share-box {
        text-align: center;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 10px;
        margin-top: 2.5em;

        .share-box-header {
            padding: 20px 15px;
            border-bottom: 1px solid hsl(0, 0%, 80%);
            font-weight: 600;
        }

        .share-box-content {
            padding: 10px 15px;

            & > p {
                font-size: var(--small-text);
            }
        }
    }
}
